<% if @movie.errors.any? %>
<div class="alert alert-error" role="alert">
  <p><%= @movie.errors.full_messages.join(", ") %></p>
</div>
<% end %>

<h1>映画登録</h1>

<%= form_with model: [:admin, @movie], local: true do |f| %>
<div class="field">
  <%= f.label :name, "映画タイトル" %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :year, "公開年" %>
  <%= f.number_field :year %>
</div>

<div class="field">
  <%= f.label :is_showing, "上映中か" %>
  <%= f.select :is_showing, [["上映中", true], ["上映予定", false]] %>
</div>

<div class="field">
  <%= f.label :description, "概要" %>
  <%= f.text_area :description %>
</div>

<div class="field">
  <%= f.label :image_url, "画像URL" %>
  <%= f.text_area :image_url %>
</div>

<%= link_to "Close", admin_movies_path, class: "close-button" %>

<div class="actions">
  <%= f.submit "Save" %>
</div>
<% end %>